@{
    ViewBag.Title = "About DD Software:";
}
<u><h3>@ViewBag.Title</h3></u>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="background: linear-gradient(100deg, rgba(173, 216, 230, .6), rgba(100, 149, 237, .7))">
                <div class="well-lg" style="background-color: transparent; font-family: sans-serif">
                    <span class="glyphicon glyphicon-list">
                        <strong>
                            DD Software first started developing commercial software with Microsoft products in 1981. Keeping abreast of the changes in technology, the custom solutions that DD Software provides will give you the competitive advantage that implementing the latest technology at the least cost brings.
                            Software development excellence is the priority. Customer long term value is the goal that we strive to meet everyday. Give us a call
                        </strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <img style="height: 100%; width: 100%; object-fit: contain" src="~/Content/Images/shutterstock_110042462.jpg" />
</div>