@{
    ViewBag.Title = "Contact Info:";
}
<div>
    <h2><b><u>@ViewBag.Title</u></b></h2>
</div>

<div class="row">
    <div class="col-md-12">

        <address>
            <strong>General Information: <a href="mailto:411@ddSoftware.org">411@ddsoftware.org</a><br/><br/></strong>
            <strong>Sales: <a href="mailto:Sales@ddSoftware.org">Sales@ddsoftware.org</a><br/><br/></strong>
            <strong>Product Support: <a href="mailto:Help@ddSoftware.org">Help@ddsoftware.org</a></strong>
        </address>

        <address>
            <h2>@ViewBag.Message</h2>
            <b>PO Box 20863</b><br/>
            <b>Worcester, MA 01602-0863</b><br/><br/>
            <abbr title="Phone"><b>Phone:</b></abbr>
            <b><i>508-685-2927</i></b>
        </address>

    </div>
    <div>
        <img class="img-responsive" style="height: 100%; width: 100%; object-fit: contain" src="~/Content/Images/custom-software-development.jpg" />
    </div>
</div>







