@{
    ViewBag.Title = "Home Page - DD Software";
}
<div class="page-header" align="center">
    <h1>
        <b><u>DD Software</u></b>
    </h1>
</div>
<div align="center">
    <h3>
        <b>Get the Competitive Edge with custom software you can trust.</b>
    </h3>
</div>

<div class="row" align="center" style="height: auto; width: 100%; vertical-align: middle">
    <div class="col-md-4" align="left" style="vertical-align: middle">
        <img class="img-responsive" src="~/Content/Images/software_development.jpg"/>
    </div>
    <div class="col-md-4" align="center" style="vertical-align: middle">
        <img class="img-responsive" src="~/Content/Images/DDSLogo.png"/>
    </div>
    <div class="col-md-4" align="center" style="vertical-align: middle">
        <br/>
        <img class="img-responsive" src="~/Content/Images/BusPeolple.jpg"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12" align="center" style="vertical-align: top "style="height: auto; width: 100%">
        <img class="img-responsive" src="~/Content/Images/goodsoftware.jpg" />
    </div>
</div>
