@{
    ViewBag.Title = "Services - DD Software";
}
<div>
    <h1><u>DD Software Services:</u></h1>
    <h3>Not just for large corporations, at $75 an hour, its the affordable choice for custom software development.</h3>
</div>

<ul class="nav nav-tabs" style="background-color: transparent; border-bottom: black">
    <li class="active"><a data-toggle="tab" href="#Overview"><b><u>Overview</u></b></a></li>
    <li><a data-toggle="tab" href="#Specifics"><b><u>Specifics</u></b></a></li>
</ul>

<div class="tab-content">
    <div id="Overview" class="tab-pane fade in active">
        <br/>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/custom-software-development.jpg" height="100" width="230"/>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/images82UHAGAO.jpg" height="100" width="230"/>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/aspnet.jpg" height="100" width="230"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/net_framework.jpg" height="100" width="230"/>
            </div>
            <div class="col-md-4" style="position: relative">
                <br/>
                <h3>
                    <b>We provide the full .Net stack of custom .Net solutions. Full n-tiered development with modern technology gives you the competitive edge</b>
                </h3>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/sql-server-2014b.gif" height="100" width="230"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/vs2015.jpg" height="100" width="230"/>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/html5csharp.png" height="100" width="230"/>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/Images/csharpdotnet.png" height="100" width="230"/>
            </div>
        </div>
    </div>
    <div id="Specifics" class="tab-pane fade">
        <div class="row" style="font-weight: bold; font-size: x-large">
            <div class="col-md-4">
                <ul>
                    <li>Using Microsoft's .Net Framework, develop custom software solutions</li>
                    <li>Design Microsoft SQL Server solutions</li>
                    <li>Design custom C# solutions</li>
                    <li>Industry Best Practices</li>
                    <li>Desktop to Mobile Solutions</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Provide Agile SCRUM services</li>
                    <li>Design Microsoft ASP.Net MVC web solutions</li>
                    <li>Design custom WCF services</li>
                    <li>Mobile Design First approach</li>
                    <li>Latest version of SQL Server backed applications </li>
                </ul>
            </div>
        </div>
    </div>
</div>

