
@{
    ViewBag.Title = "PrivacyStatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrivacyStatement</h2>

<div class="col-md-5"><p>dd Software in no way gathers, uses, discloses, or manages information for any visitor to ddsoftware.org. DD Software fulfills a legal requirement to protect a customer or web-site visitor's privacy by establishing and practicing the secure handling protocols accepted by industry standards. Any concerns please feel free to contact: 411@ddSoftware.org</p></div>
