    <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad News</title>
</head>
<body>
    <hgroup>
        <h1>What is going on?</h1>
        <h2>An Error likely has occurred</h2>
    </hgroup>
</body>
</html>
